@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

body {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #4e5a30;
}

.header {
	margin-top: 20px;
}

img {
	width:80%;
	height: auto;
}

h3 {
	padding-top: 70px;
	font-family: 'Montserrat', sans-serif;
	font-size: 7em;
	color: #009877;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: #9d9d9d;
}


.address {
	padding-top: 20px;
	width: 5%;
	height: auto;
}

#email{
	text-align: right;
	width: 30%;
}

.phone {
	width: 50%;
	height: auto;
}



.foot {
	font-size: 1em;
}

@media only screen and (max-width: 780px) {

	#email {
		width:50%;
		height:auto;
	}

	.phone {
		width: 25%;
		height: auto;
	}

	#kirsty {
		display: none;
	}

}

@media only screen and (max-width: 500px) {
	h3 {
		font-size: 4em;
	}

	p {
		font-size: 1.5em;
	}

	#email {
		width:50%;
		height:auto;
	}

	.phone {
		width: 25%;
		height: auto;
	}

	/*#kirsty {
		width: 50%;
		height: auto;
	}*/

}
