@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';


/* Importing all Proxima Nova Fonts */

@font-face{font-family:'proxima_nova_rgbold';src:url('./fonts/proximanova-bold-webfont.eot');src:url('./fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanova-bold-webfont.woff') format('woff'),url('./fonts/proximanova-bold-webfont.ttf') format('truetype'),url('./fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novasemibold';src:url('./fonts/proximanova-semibold-webfont.eot');src:url('./fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanova-semibold-webfont.woff2') format('woff2'),url('./fonts/proximanova-semibold-webfont.woff') format('woff'),url('./fonts/proximanova-semibold-webfont.ttf') format('truetype'),url('./fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'proxima_novalight';src:url('./fonts/proximanova-light-webfont.eot');src:url('./fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanova-light-webfont.woff') format('woff'),url('./fonts/proximanova-light-webfont.ttf') format('truetype'),url('./fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_rgregular';src:url('./fonts/proximanova-regular-webfont.eot');src:url('./fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanova-regular-webfont.woff') format('woff'),url('./fonts/proximanova-regular-webfont.ttf') format('truetype'),url('./fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novaregular_italic';src:url('./fonts/proximanova-regularitalic-webfont.eot');src:url('./fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanova-regularitalic-webfont.woff') format('woff'),url('./fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),url('./fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_thinthin'; src:url('./fonts/proximanovat-thin-webfont.eot'); src:url('./fonts/proximanovat-thin-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/proximanovat-thin-webfont.woff2') format('woff2'), url('./fonts/proximanovat-thin-webfont.woff') format('woff'), url('./fonts/proximanovat-thin-webfont.ttf') format('truetype'), url('./fonts/proximanovat-thin-webfont.svg#proxima_nova_thinthin') format('svg'); font-weight:normal; font-style:normal;}
@font-face{font-family:'proxima_nova_condensedlight';src:url('./fonts/proximanovacond-light-webfont.eot');src:url('./fonts/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanovacond-light-webfont.woff') format('woff'),url('./fonts/proximanovacond-light-webfont.ttf') format('truetype'),url('./fonts/proximanovacond-light-webfont.svg#proxima_nova_condensedlight') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_cn_rgregular';src:url('./fonts/proximanovacond-regular-webfont.eot');src:url('./fonts/proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanovacond-regular-webfont.woff') format('woff'),url('./fonts/proximanovacond-regular-webfont.ttf') format('truetype'),url('./fonts/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_condensedRgIt';src:url('./fonts/proximanovacond-regularit-webfont.eot');src:url('./fonts/proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanovacond-regularit-webfont.woff') format('woff'),url('./fonts/proximanovacond-regularit-webfont.ttf') format('truetype'),url('./fonts/proximanovacond-regularit-webfont.svg#proxima_nova_condensedRgIt') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_condensedSBd';src:url('./fonts/proximanovacond-semibold-webfont.eot');src:url('./fonts/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/proximanovacond-semibold-webfont.woff') format('woff'),url('./fonts/proximanovacond-semibold-webfont.ttf') format('truetype'),url('./fonts/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_cn_ththin'; src:url('./fonts/proximanovacond-thin-webfont.eot'); src:url('./fonts/proximanovacond-thin-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/proximanovacond-thin-webfont.woff2') format('woff2'), url('./fonts/proximanovacond-thin-webfont.woff') format('woff'), url('./fonts/proximanovacond-thin-webfont.ttf') format('truetype'), url('./fonts/proximanovacond-thin-webfont.svg#proxima_nova_cn_ththin') format('svg'); font-weight:normal; font-style:normal;}

/* Proxima Nova Normal */
.proxima-nova { font-family: 'proxima_nova_rgregular'; }
.proxima-nova-bold { font-family: 'proxima_nova_rgbold'; }
.proxima-nova-semibold { font-family: 'proxima_novasemibold'; }
.proxima-nova-thin { font-family: 'proxima_nova_thinthin'; }
.proxima-nova-light { font-family: 'proxima_novalight'; }
.proxima-nova-italic { font-family: 'proxima_novaregular_italic'; }


/* Proxima Nova Condensed */
.proxima-nova-condensed { font-family: 'proxima_nova_cn_rgregular'; }
.proxima-nova-condensed-bold { font-family: 'proxima_nova_condensedSBd'; }
.proxima-nova-condensed-thin { font-family: 'proxima_nova_condensedlight'; }
.proxima-nova-condensed-light { font-family: 'proxima_nova_condensedRgIt'; }
.proxima-nova-condensed-italic { font-family: 'proxima_nova_cn_ththin'; }


body {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #4e5a30;
	font-family: 'proxima_nova_condensedlight'
}

.header {
	margin-top: 20px;
}

img {
	width:80%;
	height: auto;
}

h3 {
	padding-top: 70px;
	font-size: 7em;
	color: #009877;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

p {
	font-size: 2em;
	color: #9d9d9d;
}

.address {
	padding-top: 20px;
	width: 5%;
	height: auto;
}

#email{
	text-align: right;
	width: 30%;
}

.phone {
	width: 50%;
	height: auto;
}

.foot {
	font-size: 1em;
}

@media only screen and (max-width: 780px) {

	#email {
		width:50%;
		height:auto;
	}

	.phone {
		width: 25%;
		height: auto;
	}

	#kirsty {
		display: none;
	}

}

@media only screen and (max-width: 500px) {
	h3 {
		font-size: 4em;
	}

	p {
		font-size: 1.5em;
	}

	#email {
		width:50%;
		height:auto;
	}

	.phone {
		width: 25%;
		height: auto;
	}

	/*#kirsty {
		width: 50%;
		height: auto;
	}*/

}
